<div class="container">
<h1> Enter game name </h1>
<%= form_tag(game_search_events_path, :method => :get) do %>
  <%= text_field_tag "title" %>
  <%= submit_tag "Search" %>
<% end %>
<% if !@results.nil? %>
  <div class="game-search-results">
    <ul>
    <% @results.each do |game| %>
      <li>
        <a href="http://boardgamegeek.com/boardgame/<%= game.id %>">
          <div class="game-listing">
            <h2><%= game.title %></h2>
            <%= image_tag game.thumbnail %>
            <h3>Published</h3> <%= game.year_published %>
            <h3>Playing Time</h3> <%= game.playing_time + " minutes" %>
                <h3># of players:</h3> <%= game.min_players + '-' + game.max_players %>
                <h3>Description:</h3> <%= game.description.html_safe %>
          </div>
        </a>
      </li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>
